* {
    box-sizing: border-box;
  }
  .row{
      margin-top: 85px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  td{
    text-align: center;
  }
  .meniu{
      position: fixed;
      right: 0;
      top: 0;
      height: 1.5cm;
      width: 100%;
      background-color: #be70e2;
      color: #ffffff;
  }
  .cerc_meniu{
    animation: mymove 5s infinite;
    width: 100%;
    height: 1.5cm;
    background-color: #be70e2;
    border: #be70e2;
  }
  .cerc_meniu:hover{
    background-color: #a167be;
    border: #a167be;
  }
  a{
    text-decoration: none;
  }
  .elem_meniu{
      width: 24%;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
  }
  .ales{
    background-color: #9042b8;
  }
  
  .elem_meniu:hover{
      background-color: #a167be;
  }
  .ales:hover{
    background-color: #9042b8;
  }
  
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ee9fd0;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    right: 0;
    top: 2cm;
    display: none;
    position: absolute;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    font-size: 12px; 
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
      .meniu{ width: 100%; }
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .meniu {width: 100%;}
  }
